[centos-7-openstack-liberty-cached]
name = Baseline Centos 7 cached packages
baseurl = http://{{repo_host}}/repo/centos-7-openstack-liberty-rpms
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Cloud
enabled = 1
gpgcheck = 1

